*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

iframe {
  border: none;
}

body {
  min-height: 100dvh;
}

strong {
  font-weight: 600;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 64rem;
}
